*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #fff;
    position: sticky;
    border: 1px solid rgb(220, 220, 220);
    top: 0;
    z-index: 1000;
}

.logo img{
    width: 80px;
    height: 60px;
    margin: 0;
}

.nav-links ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #1b263b;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s;
    cursor: pointer;
}

.nav-links a:hover{
    color: #8b5e3c;
}

.phone{
    color: #1b263b;
    text-decoration: none;
    font-weight: 400;
}

.contact-section{
    margin-top: 100px;
    padding: 0 10%;
    display: flex;
    gap: 10%;
    flex-direction: row;
}

.contact-detail{
    width:50%;
}
.contact-detail h1{
    font-size: 42px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 14px;
}

.contact-detail p{
    margin-top: 0px;
    font-size: 22px;
    line-height: 30px;
}

.detail{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail-text h2{
    color: #ff5f1f;
    font-weight: 800;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.detail-text p{
    margin-top: 0px;
    font-size: 18pxpx;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5f1f;
    padding: 16px;
    border-radius: 15px;
    margin-right: 10px;
}

.icon i{
    font-size: 25px;
}

iframe{
    border-radius: 15px;
}
.form-section{
    width: 70%;
}

.form-section form{
    background-color: #eeeeee;
    width: 100%;
    border-radius: 15px;
    padding: 40px 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.name-label{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 37%;
    font-size: 18px;
    font-weight: 800;
    color: #ff5f1f;
}
.name{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.name input{
    outline: none;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #ff5f1f;
}
select{
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #ff5f1f;
    margin-bottom: 20px;
}

#ctg{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 800;
    color: #ff5f1f;
}

.file-input{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #ff5f1f;
    margin-bottom: 20px;
}

.file-input p{
    margin-bottom: 0;
    font-size: 16px;
}

#photo{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 800;
    color: #ff5f1f;
}

.custom-button i{
    cursor: pointer;
    color: #ff5f1f;
    font-size: 35px;
    transition: color 0.3s;

}

.custom-button i:hover {
    color: #ff4e07;
}

form button{
    border-radius: 12px;
    border: none;
    background-color: #ff5f1f;
    padding: 16px 0px;
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.detail-label{
    font-size: 18px;
    font-weight: 800;
    color: #ff5f1f;
}

.detail-container {
    height: 160px;
    border: 1px solid #ff5f1f;
    border-radius: 18px;   
    margin-top: 10px; 
    padding: 10px 10px;
    background-color: white;
    display: flex;
}

.detail-input {
    width: 100%;
    border: none;             
    outline: none;            
    resize: none;  
    padding: 5px;         
    font-size: 16px;
    color: #555;
    background: transparent;
}



.footer-top{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 30px;
    border-bottom: 1px solid rgb(232, 231, 231);
}

.left-section{
    width: 30%;
    margin-top: 0;
}


.logo{
    width: 80px;
    height: 60px;
    margin: 0;
}


.left-section p, .right-section, p{
    margin-top: 10px;
    color: #b0b8a8;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.social{
    display: flex;
    gap: 20px;
}

.social i{
    background-color: #eeeeee;
    color: black;
    width: 50px;
    height: 50px;
    padding-top: 13px;
    padding-left: 2px;
    font-size: 22px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.social i:hover{
    background-color: #bdbdbd;
}

.middle-section{
    width: 30%;
    padding-left: 8%;
}

.middle-section h3 , .right-section, h3{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

.middle-section ul li{
    list-style: none;
    margin-bottom: 20px;
}
.middle-section ul li a{
    text-decoration: none;
    color: #b0b8a8;
    font-size: 20px;
    font-weight: 400;
}

.right-section{
    width: 30%;
    margin: 0;
}
.news{
    display: flex;
    gap: 10px;
    align-items: center;
}
.right-section input{
    width: 300px;
    padding: 16px 12px;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
}

.right-section a{
    background-color: #ff5f1f;
    padding: 10px 12px;
    border-radius: 10px;
}
.right-section i{
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.footer-bottom p{
    margin: 0;
}

.policies{
    display: flex;
    gap: 30px;
    color: #b0b8a8;
    align-items: center;
}

