*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.service-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 8%;
}

.service-section h1{
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 10px;
}

.text{
    width: 60%;
    line-height: 1.5;
    color: #ae5e09;
    font-size: 20px;
    margin-bottom: 30px;
}

.service-grid{
    margin-top: 30px;
    width: 90%;
    display: grid;
    gap: 6%;
    grid-template-columns: repeat(2, 1fr);
}

.service-card{
    width: 100%;
    margin-bottom: 20px;
}

.service-image{
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

.service-text h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 28px;
    text-align: left;
}

.service-text p{
    text-align: left;
    line-height: 1.5;
    color: #ae5e09;
    font-size: 20px;
}