*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #f9f7f2;
    border-bottom: 2px solid #c9a982;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #1b263b;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s;
    cursor: pointer;
}

.nav-links a:hover{
    color: #8b5e3c;
}

.phone{
    color: #1b263b;
    text-decoration: none;
    font-weight: 400;
}

.hero {
    position: relative;
    height: 100vh;
    min-height:500px;
    display: flex;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1581447100595-37730ca24b1e?auto=format&fit=crop&q=80&w=2000') no-repeat center center/cover;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 100%);
    z-index: 1;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

.hero-content {
    max-width: 700px;
}

h1 {
    color: white;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 20px;
}

h1 span {
    color: #ff5f1f;
}

p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.hero-buttons {
    display: flex;
    gap: 30px;
}

.hero-buttons a{
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.btn-primary {
    background: #ff5f1f;
    color: #ffffff;
}

.btn-primary:hover {
    background: #bc8a5f;
}

.btn-secondary {
    border: 2px solid #fff;
    color: #fff;
}

.btn-secondary:hover {
    background: #fff;
    color: #1a1a1a;
}

.service{
    background-color: rgb(11, 65, 11);
    height: 90vh;
}

.service-container{
    text-align: center;
}

.service-container h1{
    color: white;
    font-size: 40px;
    padding-top: 100px;
    margin-bottom: 10px;
}

.service-container p{
    color: #a4a7a1;
    font-size: 20px;
    margin-bottom: 40px;
}

.card-container{
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.service-card{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 400px;
    max-height: 350px;
    background: #2d36248e;
    border-radius: 16px;
    padding: 40px;
}

.service-card h3{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
}

.service-card p{
    color: #b0b8a8;
    font-size: 16px;
}

.service-card a{
    color: #ff5f1f;
    font-weight: bold;
    text-decoration: none;
    margin-top: auto;
}

#icon{
    font-size: 30px;
    margin-bottom: 20px;
    color: #ff5f1f;
}

.service-card i{
    font-size: 16px;
    color: #ff5f1f;
    margin-left: 8px;
}