*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #fff;
    position: sticky;
    border: 1px solid rgb(220, 220, 220);
    top: 0;
    z-index: 1000;
}

.logo img{
    width: 80px;
    height: 60px;
    margin: 0;
}

.nav-links ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #1b263b;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s;
    cursor: pointer;
}

.nav-links a:hover{
    color: #8b5e3c;
}

.phone{
    color: #1b263b;
    text-decoration: none;
    font-weight: 400;
}

.hero {
    position: relative;
    height: 90vh;
    min-height:500px;
    width: 92%;
    display: flex;
    margin: 30px auto;
    border-radius: 30px;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1581447100595-37730ca24b1e?auto=format&fit=crop&q=80&w=2000') no-repeat center center/cover;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0 10%;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 100%);
    z-index: 1;
    background: url(https://i.pinimg.com/1200x/90/12/7d/90127d6d02c6cc9acb4b3c9dc2a7bc3d.jpg);
    background-size: 100%;
    background-position: 0px;
    object-fit: contain;
    background-repeat: no-repeat;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10%;
    position: relative;
    z-index: 2;
}

.hero-content {
    max-width: 700px;
}

.hero-content h1{
    color: white;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #ff5f1f;
}

.hero-content p{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #ffffff;
}

.hero-buttons {
    display: flex;
    gap: 30px;
}

.hero-buttons a{
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.btn-primary {
    background: #ff5f1f;
    color: #ffffff;
}

.btn-primary:hover {
    background: #fc5715;
}

.btn-secondary {
    border: 2px solid #fff;
    color: #fff;
}

.btn-secondary:hover {
    background: #fff;
    color: #1a1a1a;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10%;
    margin: 100px 0px;
    height: 100vh;

}

.about-text{
    width: 45%;
}
.about-text h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 20px;

}
.about-text h4{
    color: #ff5f1f;
    letter-spacing: 6px;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-text p{
    color: #a4a7a1;
    font-size: 20px;
    margin-top: 20px;
}

.about-skills{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.about-skills i{
    font-size: 30px;
    background-color: #ff5f1fc9;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
    color: white;
}
.about-skills h3{
    margin-bottom: 3px;
}

.about-skills p{
    color: #a4a7a1;
    margin-top: 0;
    font-size: 20px;
}

.skill-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.about-image{
    padding: 20px 0px;
    height: 100%;
    width: 50%;
    border-radius: 16px;
    object-fit: cover;
    background: url(https://i.pinimg.com/1200x/fd/9e/17/fd9e17611fe11d0a220f7f609300b676.jpg);
}

.gallery-section{
    height: 70vh;
    padding: 0 10%;
}

.gallery-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.gallery-text h1{
    font-size: 36px;
    font-weight: 900;
}
.gallery-text p{
    color: #a4a7a1;
    font-size: 22px;
}
.buttons a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px 12px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(214, 214, 214);
}
.buttons i{
    font-size: 22px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 31%);
    justify-content: space-between;
    width: 100%;
}

.gallery-card{
    width: 400px;
    height: auto;
    border-radius: 15px;
}
.card-text p{
    color: #a4a7a1;
    font-size: 20px;
}
.card-text h2{
    margin-top: 20px;
}

.card-image{
    height: 200px;
    width: 400px;
}

.card-image img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}


.service{
    background-color: rgb(11, 65, 11);
    height: 90vh;
}

.service-container{
    text-align: center;
}

.service-container h1{
    color: white;
    font-size: 40px;
    padding-top: 100px;
    margin-bottom: 10px;
}

.service-container p{
    color: #a4a7a1;
    font-size: 20px;
    margin-bottom: 40px;
}

.card-container{
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.service-card{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 400px;
    max-height: 350px;
    background: #2d36248e;
    border-radius: 16px;
    padding: 40px;
}

.service-card h3{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
}

.service-card p{
    color: #b0b8a8;
    font-size: 16px;
}

.service-card a{
    color: #ff5f1f;
    font-weight: bold;
    text-decoration: none;
    margin-top: auto;
}

#icon{
    font-size: 30px;
    margin-bottom: 20px;
    color: #ff5f1f;
}

.service-card i{
    font-size: 16px;
    color: #ff5f1f;
    margin-left: 8px;
}

.footer-top{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 30px;
    border-bottom: 1px solid rgb(232, 231, 231);
}

.left-section{
    width: 30%;
    margin-top: 0;
}


.logo{
    width: 80px;
    height: 60px;
    margin: 0;
}


.left-section p, .right-section, p{
    margin-top: 10px;
    color: #b0b8a8;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.social{
    display: flex;
    gap: 20px;
}

.social i{
    background-color: #eeeeee;
    color: black;
    width: 50px;
    height: 50px;
    padding-top: 13px;
    padding-left: 2px;
    font-size: 22px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.social i:hover{
    background-color: #bdbdbd;
}

.middle-section{
    width: 30%;
    padding-left: 8%;
}

.middle-section h3 , .right-section, h3{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

.middle-section ul li{
    list-style: none;
    margin-bottom: 20px;
}
.middle-section ul li a{
    text-decoration: none;
    color: #b0b8a8;
    font-size: 20px;
    font-weight: 400;
}

.right-section{
    width: 30%;
    margin: 0;
}
.news{
    display: flex;
    gap: 10px;
    align-items: center;
}
.right-section input{
    width: 300px;
    padding: 16px 12px;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
}

.right-section a{
    background-color: #ff5f1f;
    padding: 10px 12px;
    border-radius: 10px;
}
.right-section i{
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.footer-bottom p{
    margin: 0;
}

.policies{
    display: flex;
    gap: 30px;
    color: #b0b8a8;
    align-items: center;
}

